.adminOrderListScreen{
    padding: 20px;

    .location_col{
        text-align: center;
        a{
            text-decoration: none;
        }
        a:hover{
            color: #ff8000;
        }
    }
    .actionBtn{
        font-size: 1.3rem;
    }
    .actionBtn:nth-child(1){
        margin-right: 8px;
    }
    .pagination{
        margin: 0 auto;
    }
}