.placeOrderScreen {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h2{
        font-family: 'Russo One', sans-serif;
    }
    .placeOrderScreen__card {
        padding: 1.5rem;
        background-color: #f8f8f8;
    }

    .placeOrderScreen__left {
        flex: 2 1 50rem;
        margin-right: 1.5rem;

        Table{
            text-align: center;
            td{
                line-height: 100px;
            }
        }
        .small {
            width: 80px;
        }

    }

    .placeOrderScreen__right {
        flex: 1 1 25rem;
        

        div {
            margin-bottom: 0.5rem;
        }

    }



}