.productsScreen{

    display: flex;
    flex-wrap: wrap;
}
.products{
    width: 200px;
    height: 100%;
    margin: 1.4rem 1.4rem;

    .products__image{
        max-width: 200px;
        max-height: auto;
    }
}