.shippingAddressScreen{
    margin-top: 1.4rem;

    h1{
        width: 350px;
    }

    .shipping__form__input{
        background: rgb(236, 144, 144);
    border-radius: 4px;
    border: 0;
    color: white;
    height: 50px;
    line-height: 50px;
    padding: 5px 20px;
    margin-bottom: 20px;
    }
    .btn{
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 8px 20px;
        width: 100%;
    }

}