@import './components/mainCarousel.scss';
@import './components/introHanbok.scss';
@import './components/navbar.scss';
@import './components/aboutPage.scss';
@import './components/signinScreen.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
