@import './components/mainCarousel.scss';
@import './components/introHanbok.scss';
@import './components/navbar.scss';
@import './components/aboutPage.scss';
@import './components/signinScreen.scss';
@import './components/productDetailScreen.scss';
@import './components/CartScreen.scss';
@import './components/ProductScreen.scss';
@import './components/ShippingAddressScreen.scss';
@import './components/PaymentScreen.scss';
@import './components/PlaceOrderScreen.scss';
@import './components/OrderScreen.scss';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
